# {{ ansible_managed }}
[forest-service]
name=Forest-Service - Packages for the Forest Service
baseurl=http://oirrhstpvxw02.edc.ds1.usda.gov/fs
enabled=0
gpgcheck=1

[farm-services]
name=Farm-Services - Packages for Farm Services Agency
baseurl=http://oirrhstpvxw02.edc.ds1.usda.gov/fsa
enabled=0
gpgcheck=1

[nitc]
name=NITC - Packages Built by NITC 
baseurl=http://oirrhstpvxw02.edc.ds1.usda.gov/nitc
enabled=0
gpgcheck=1

[third-party]
name=Third-Party - Packages provided by vendors and other third parties
baseurl=http://oirrhstpvxw02.edc.ds1.usda.gov/third-party
enabled=0
gpgcheck=1

[ceph-firefly-el6-noarch]
name=Ceph Firefly Package for RHEL6 - noarch
baseurl=http://oirrhstpvxw02.edc.ds1.usda.gov/ceph-firefly-el6-noarch
enabled=0
gpgcheck=1

[ceph-firefly-el6-x86_64]
name=Ceph Firefly Package for RHEL6 - x86_64
baseurl=http://oirrhstpvxw02.edc.ds1.usda.gov/ceph-firefly-el6-x86_64
enabled=0
gpgcheck=1

