# {{ ansible_managed }}
### Send logs to NITC remote syslog server.
#*.*       @10.200.36.241 #ESM-KC-PRI
#*.*       @10.200.124.71 #ESM-KC-LIVE
#*.*       @199.134.184.76 #ESM-STL-LIVE
*.*       @{{ receiver }}

