#!/bin/bash
# {{ ansible_managed }}
# /etc/init.d/xymon
#
# Xymon startup script
#
# chkconfig: 2345 90 20
# description: Xymon startup script
#

# Source function library.
. /etc/rc.d/init.d/functions


case "$1" in
        start)
                echo -n "Starting Xymon services: "
                su - shobbit -c "/opt/xymon/client/runclient.sh start" && success || failure
                RETVAL=$?
                [ "$RETVAL" = 0 ] && touch /var/lock/subsys/xymon
                echo
        ;;
        stop)
                echo -n "Shutting down Xymon services: "
                su - shobbit -c "/opt/xymon/client/runclient.sh stop" && success || failure
                RETVAL=$?
                [ "$RETVAL" = 0 ] && rm -f /var/lock/subsys/xymon
                echo
        ;;
        status)
                status xymon
        ;;
        restart)
                $0 stop
                $0 start
        ;;
        *)
                echo "Usage: xymon {start|stop|status|restart}"
                exit 1
        ;;
esac

