{%- if dict.CLOUD_PLATFORM == 'aws' %}
    {
      "name": "{{ dict.NAME }}",
      "type": "amazon-ebs",
      "access_key": "{{ dict.AWS_ACCESS_KEY }}",
      "ami_name": "{{ dict.IMAGE_NAME }}",
      "instance_type": "{{ '{{' }}user `aws_instance_type`{{ '}}' }}",
      "region": "{{ dict.AWS_REGION }}",
      "secret_key": "{{ dict.AWS_SECRET_KEY }}",
      "tags":
      {
        "Environment": "{{ dict.ENVIRONMENT_TAG }}"
      },
      "source_ami_filter":
      {
        "filters":
          {
            "virtualization-type": "{{ '{{' }}user `aws_saf_virualization`{{ '}}' }}",
            "name": "{{ '{{' }}user `aws_saf_name`{{ '}}' }}",
            "root-device-type": "{{ '{{' }}user `aws_saf_root-device-type`{{ '}}' }}"
          },
        "owners":
        [
          "{{ '{{' }}user `aws_saf_owner`{{ '}}' }}"
        ],
        "most_recent": true
      },
      "vpc_id": "{{ dict.AWS_VPC_ID }}",
      "subnet_id": "{{ dict.AWS_SUBNET_ID }}",
      "ssh_username": "{{ '{{' }}user `aws_ssh_username`{{ '}}' }}",
      "launch_block_device_mappings":
      [
        {
          "device_name": "/dev/sda1",
          "volume_size": "{{ '{{' }}user `disk1_size`{{ '}}' }}",
          "volume_type": "gp2",
          "delete_on_termination": true
        },
        {
          "device_name": "/dev/sdb",
          "volume_size": "{{ '{{' }}user `disk2_size`{{ '}}' }}",
          "volume_type": "gp2",
          "delete_on_termination": true
        }
      ]
    },
{%- elif dict.CLOUD_PLATFORM == 'azure' %}
    {
      "name": "{{ dict.NAME }}",
      "type": "azure-arm",
      "cloud_environment_name": "{{ dict.AZURE_CLOUD_ENVIRONMENT_NAME }}",
      "client_id": "{{ dict.AZURE_CLIENT_ID }}",
      "client_secret": "{{ dict.AZURE_CLIENT_SECRET }}",
      "subscription_id": "{{ dict.AZURE_SUBSCRIPTION_ID }}",
      "tenant_id": "{{ dict.AZURE_TENANT_ID }}",
      "virtual_network_name": "{{ dict.AZURE_VIRTUAL_NETWORK_NAME }}",
      "virtual_network_subnet_name": "{{ dict.AZURE_VIRTUAL_NETWORK_SUBNET_NAME }}",
      "virtual_network_resource_group_name": "{{ dict.AZURE_VIRTUAL_NETWORK_RESOURCE_GROUP_NAME }}",
      "managed_image_name": "{{ dict.IMAGE_NAME }}",
      "managed_image_resource_group_name": "{{ dict.AZURE_MANAGED_IMAGE_RESOURCE_GROUP_NAME }}",
      "os_type": "Linux",
      "image_publisher": "{{ '{{' }}user `azure_image_publisher`{{ '}}' }}",
      "image_offer": "{{ '{{' }}user `azure_image_offer`{{ '}}' }}",
      "image_sku": "{{ '{{' }}user `azure_image_sku`{{ '}}' }}",
      "image_version": "{{ '{{' }}user `azure_image_version`{{ '}}' }}",
      "azure_tags":
      {
        "Environment": "{{ dict.ENVIRONMENT_TAG }}"
      },
      "location": "{{ dict.AZURE_LOCATION }}",
      "vm_size": "{{ '{{' }}user `azure_vm_size`{{ '}}' }}",
      "os_disk_size_gb": "{{ '{{' }}user `disk1_size`{{ '}}' }}",
      "disk_additional_size":
      [
        "{{ '{{' }}user `disk2_size` {{ '}}' }}"
      ]
    },
{%- endif %}
