# {{ ansible_managed }}
# # This file contains the auditctl rules that are loaded
# whenever the audit daemon is started via the initscripts.
# The rules are simply the parameters that would be passed
# to auditctl.

# Adding versioning and update information
# Change 2017/09/04 Dean Stoddard

# First rule - delete all
-D

# Increase the buffers to survive stress events.
# Make this bigger for busy systems
-b 320

# Feel free to add below this line. See auditctl man page


#Rule Version (STIG-ID):  RHEL-07-030370
#Rule Title: All uses of the chown command must be audited.
-a always,exit -F arch=b64 -S chown -F auid>=1000 -F auid!=4294967295 -k perm_mod

#Rule Version (STIG-ID):  RHEL-07-030380
#Rule Title: All uses of the fchown command must be audited.
-a always,exit -F arch=b64 -S fchown -F auid>=1000 -F auid!=4294967295 -k perm_mod

#Rule Version (STIG-ID):  RHEL-07-030390
#Rule Title: All uses of the lchown command must be audited.
-a always,exit -F arch=b64 -S lchown -F auid>=1000 -F auid!=4294967295 -k perm_mod

#Rule Version (STIG-ID):  RHEL-07-030400
#Rule Title: All uses of the fchownat command must be audited.
-a always,exit -F arch=b64 -S fchownat -F auid>=1000 -F auid!=4294967295 -k perm_mod

#Rule Version (STIG-ID):  RHEL-07-030410
#Rule Title: All uses of the chmod command must be audited.
-a always,exit -F arch=b64 -S chmod -F auid>=1000 -F auid!=4294967295 -k perm_mod

#Rule Version (STIG-ID):  RHEL-07-030420
#Rule Title: All uses of the fchmod command must be audited.
-a always,exit -F arch=b64 -S fchmod -F auid>=1000 -F auid!=4294967295 -k perm_mod

#Rule Version (STIG-ID):  RHEL-07-030430
#Rule Title: All uses of the fchmodat command must be audited.
-a always,exit -F arch=b64 -S fchmodat -F auid>=1000 -F auid!=4294967295 -k perm_mod

#Rule Version (STIG-ID):  RHEL-07-030440
#Rule Title: All uses of the setxattr command must be audited.
-a always,exit -F arch=b64 -S setxattr -F auid>=1000 -F auid!=4294967295 -k perm_mod

#Rule Version (STIG-ID):  RHEL-07-030450
#Rule Title: All uses of the fsetxattr command must be audited.
-a always,exit -F arch=b64 -S fsetxattr -F auid>=1000 -F auid!=4294967295 -k perm_mod

#Rule Version (STIG-ID):  RHEL-07-030460
#Rule Title: All uses of the lsetxattr command must be audited.
-a always,exit -F arch=b64 -S lsetxattr -F auid>=1000 -F auid!=4294967295 -k perm_mod

#Rule Version (STIG-ID):  RHEL-07-030470
#Rule Title: All uses of the removexattr command must be audited.
-a always,exit -F arch=b64 -S removexattr -F auid>=1000 -F auid!=4294967295 -k perm_mod

#Rule Version (STIG-ID):  RHEL-07-030480
#Rule Title: All uses of the fremovexattr command must be audited.
-a always,exit -F arch=b64 -S fremovexattr -F auid>=1000 -F auid!=4294967295 -k perm_mod

#Rule Version (STIG-ID):  RHEL-07-030490
#Rule Title: All uses of the lremovexattr command must be audited.
-a always,exit -F arch=b64 -S lremovexattr -F auid>=1000 -F auid!=4294967295 -k perm_mod

#Rule Version (STIG-ID):  RHEL-07-030500
#Rule Title: All uses of the creat command must be audited.
-a always,exit -F arch=b64 -S creat -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 -k access

#Rule Version (STIG-ID):  RHEL-07-030510
#Rule Title: All uses of the open command must be audited.
-a always,exit -F arch=b64 -S open -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 -k access

#Rule Version (STIG-ID):  RHEL-07-030520
#Rule Title: All uses of the openat command must be audited.
-a always,exit -F arch=b64 -S openat -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 -k access

#Rule Version (STIG-ID):  RHEL-07-030530
#Rule Title: All uses of the open_by_handle_at command must be audited.
-a always,exit -F arch=b64 -S open_by_handle_at -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 -k access

#Rule Version (STIG-ID):  RHEL-07-030540
#Rule Title: All uses of the truncate command must be audited.
-a always,exit -F arch=b64 -S truncate -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 -k access

#Rule Version (STIG-ID):  RHEL-07-030550
#Rule Title: All uses of the ftruncate command must be audited.
-a always,exit -F arch=b64 -S ftruncate -F exit=-EACCES -F auid>=1000 -F auid!=4294967295 -k access

#Rule Version (STIG-ID):  RHEL-07-030560
#Rule Title: All uses of the semanage command must be audited.
-a always,exit -F path=/usr/sbin/semanage -F perm=x -F auid>=1000 -F auid!=4294967295 -k privileged-priv_change

#Rule Version (STIG-ID):  RHEL-07-030570
#Rule Title: All uses of the setsebool command must be audited.
-a always,exit -F path=/usr/sbin/setsebool -F perm=x -F auid>=1000 -F auid!=4294967295 -k privileged-priv_change

#Rule Version (STIG-ID):  RHEL-07-030580
#Rule Title: All uses of the chcon command must be audited.
-a always,exit -F path=/usr/bin/chcon -F perm=x -F auid>=1000 -F auid!=4294967295 -k privileged-priv_change

#Rule Version (STIG-ID):  RHEL-07-030590
#Rule Title: All uses of the restorecon command must be audited.
-a always,exit -F path=/usr/sbin/restorecon -F perm=x -F auid>=1000 -F auid!=4294967295 -k privileged-priv_change

#Rule Version (STIG-ID):  RHEL-07-030600
#Rule Title: The operating system must generate audit records for all successful/unsuccessful account access count events.
-w /var/log/tallylog -p wa -k logins

#Rule Version (STIG-ID):  RHEL-07-030610
#Rule Title: The operating system must generate audit records for all unsuccessful account access events.
-w /var/run/faillock -p wa -k logins

#Rule Version (STIG-ID):  RHEL-07-030620
#Rule Title: The operating system must generate audit records for all successful account access events.
-w /var/log/lastlog -p wa -k logins

#Rule Version (STIG-ID):  RHEL-07-030630
#Rule Title: All uses of the passwd command must be audited.
-a always,exit -F path=/usr/bin/passwd -F perm=x -F auid>=1000 -F auid!=4294967295 -k privileged-passwd

#Rule Version (STIG-ID):  RHEL-07-030640
#Rule Title: All uses of the unix_chkpwd command must be audited.
-a always,exit -F path=/sbin/unix_chkpwd -F perm=x -F auid>=1000 -F auid!=4294967295 -k privileged-passwd

#Rule Version (STIG-ID):  RHEL-07-030650
#Rule Title: All uses of the gpasswd command must be audited.
-a always,exit -F path=/usr/bin/gpasswd -F perm=x -F auid>=1000 -F auid!=4294967295 -k privileged-passwd

#Rule Version (STIG-ID):  RHEL-07-030660
#Rule Title: All uses of the chage command must be audited.
-a always,exit -F path=/usr/bin/chage -F perm=x -F auid>=1000 -F auid!=4294967295 -k privileged-passwd

#Rule Version (STIG-ID):  RHEL-07-030670
#Rule Title: All uses of the userhelper command must be audited.
-a always,exit -F path=/usr/sbin/userhelper -F perm=x -F auid>=1000 -F auid!=4294967295 -k privileged-passwd

#Rule Version (STIG-ID):  RHEL-07-030680
#Rule Title: All uses of the su command must be audited.
-a always,exit -F path=/bin/su -F perm=x -F auid>=1000 -F auid!=4294967295 -k privileged-priv_change

#Rule Version (STIG-ID):  RHEL-07-030690
#Rule Title: All uses of the sudo command must be audited.
-a always,exit -F path=/usr/bin/sudo -F perm=x -F auid>=1000 -F auid!=4294967295 -k privileged-priv_change 

#Rule Version (STIG-ID):  RHEL-07-030700
#Rule Title: All uses of the sudoers command must be audited.
-w /etc/sudoers -p wa -k privileged-actions
-w /etc/sudoers.d -p wa -k privileged-actions

#Rule Version (STIG-ID):  RHEL-07-030710
#Rule Title: All uses of the newgrp command must be audited.
-a always,exit -F path=/usr/bin/newgrp -F perm=x -F auid>=1000 -F auid!=4294967295 -k privileged-priv_change

#Rule Version (STIG-ID):  RHEL-07-030720
#Rule Title: All uses of the chsh command must be audited.
-a always,exit -F path=/usr/bin/chsh -F perm=x -F auid>=1000 -F auid!=4294967295 -k privileged-priv_change

#Rule Version (STIG-ID):  RHEL-07-030730
#Rule Title: All uses of the sudoedit command must be audited.
-a always,exit -F path=/bin/sudoedit -F perm=x -F auid>=1000 -F auid!=4294967295 -k privileged-priv_change

#Rule Version (STIG-ID):  RHEL-07-030740
#Rule Title: All uses of the mount command must be audited.
-a always,exit -F arch=b64 -S mount -F auid>=1000 -F auid!=4294967295 -k privileged-mount

#Rule Version (STIG-ID):  RHEL-07-030750
#Rule Title: All uses of the umount command must be audited.
-a always,exit -F path=/bin/umount -F perm=x -F auid>=1000 -F auid!=4294967295 -k privileged-mount

#Rule Version (STIG-ID):  RHEL-07-030760
#Rule Title: All uses of the postdrop command must be audited.
-a always,exit -F path=/usr/sbin/postdrop -F perm=x -F auid>=1000 -F auid!=4294967295 -k privileged-postfix

#Rule Version (STIG-ID):  RHEL-07-030770
#Rule Title: All uses of the postqueue command must be audited.
-a always,exit -F path=/usr/sbin/postqueue -F perm=x -F auid>=1000 -F auid!=4294967295 -k privileged-postfix

#Rule Version (STIG-ID):  RHEL-07-030780
#Rule Title: All uses of the ssh-keysign command must be audited.
-a always,exit -F path=/usr/libexec/openssh/ssh-keysign -F perm=x -F auid>=1000 -F auid!=4294967295 -k privileged-ssh

#Rule Version (STIG-ID):  RHEL-07-030790
#Rule Title: All uses of the pt_chown command must be audited.
-a always,exit -F path=/usr/libexec/pt_chown -F perm=x -F auid>=1000 -F auid!=4294967295 -k privileged_terminal

#Rule Version (STIG-ID):  RHEL-07-030800
#Rule Title: All uses of the crontab command must be audited.
-a always,exit -F path=/usr/bin/crontab -F perm=x -F auid>=1000 -F auid!=4294967295 -k privileged-cron

#Rule Version (STIG-ID):  RHEL-07-030810
#Rule Title: All uses of the pam_timestamp_check command must be audited.
-a always,exit -F path=/sbin/pam_timestamp_check -F perm=x -F auid>=1000 -F auid!=4294967295 -k privileged-pam

#Rule Version (STIG-ID):  RHEL-07-030820
#Rule Title: All uses of the init_module command must be audited.
-a always,exit -F arch=b64 -S init_module -k module-change

#Rule Version (STIG-ID):  RHEL-07-030830
#Rule Title: All uses of the delete_module command must be audited.
-a always,exit -F arch=b64 -S delete_module -k module-change

#Rule Version (STIG-ID):  RHEL-07-030840
#Rule Title: All uses of the insmod command must be audited.
-w /sbin/insmod -p x -F auid!=4294967295 -k module-change

#Rule Version (STIG-ID):  RHEL-07-030850
#Rule Title: All uses of the rmmod command must be audited.
-w /sbin/rmmod -p x -F auid!=4294967295 -k module-change

#Rule Version (STIG-ID):  RHEL-07-030860
#Rule Title: All uses of the modprobe command must be audited.
-w /sbin/modprobe -p x -F auid!=4294967295 -k module-change

#Rule Version (STIG-ID):  RHEL-07-030870
#Rule Title: The operating system must generate audit records for all account creations, modifications, disabling, and termination events that affect /etc/passwd.
-w /etc/passwd -p wa -k identity

#Rule Version (STIG-ID):  RHEL-07-030871
#Rule Title: The operating system must generate audit records for all account creations, modifications, disabling, and termination events that affect /etc/group.
-w /etc/group -p wa -k identity

#Rule Version (STIG-ID):  RHEL-07-030872
#Rule Title: The operating system must generate audit records for all account creations, modifications, disabling, and termination events that affect /etc/gshadow.
-w /etc/gshadow -p wa -k identity

#Rule Version (STIG-ID):  RHEL-07-030873
#Rule Title: The operating system must generate audit records for all account creations, modifications, disabling, and termination events that affect /etc/shadow.
-w /etc/shadow -p wa -k identity

#Rule Version (STIG-ID):  RHEL-07-030874
#Rule Title: The operating system must generate audit records for all account creations, modifications, disabling, and termination events that affect /etc/opasswd.
-w /etc/opasswd -p wa -k identity

#Rule Version (STIG-ID):  RHEL-07-030880
#Rule Title: All uses of the rename command must be audited.
-a always,exit -F arch=b64 -S rename -F perm=x -F auid>=1000 -F auid!=4294967295 -k delete

#Rule Version (STIG-ID):  RHEL-07-030890
#Rule Title: All uses of the renameat command must be audited.
-a always,exit -F arch=b64 -S renameat -F perm=x -F auid>=1000 -F auid!=4294967295 -k delete

#Rule Version (STIG-ID):  RHEL-07-030900
#Rule Title: All uses of the rmdir command must be audited.
-a always,exit -F arch=b64 -S rmdir -F perm=x -F auid>=1000 -F auid!=4294967295 -k delete

#Rule Version (STIG-ID):  RHEL-07-030910
#Rule Title: All uses of the unlink command must be audited.
-a always,exit -F arch=b64 -S unlink -F perm=x -F auid>=1000 -F auid!=4294967295 -k delete

#Rule Version (STIG-ID):  RHEL-07-030920
#Rule Title: All uses of the unlinkat command must be audited.
-a always,exit -F arch=b64 -S unlinkat -F perm=x -F auid>=1000 -F auid!=4294967295 -k delete










