#%PAM-1.0
# {{ ansible_managed }}
# Begin Entrust
auth required pam_env.so
# auth required pam_unix.so nullok try_first_pass
auth required pam_sepermit.so
auth sufficient pam_radius_auth.so skip_passwd
auth requisite pam_succeed_if.so uid >= 500 quiet
#    UNCOMMENT THE NEXT LINE TO ENFORCE NO PASSWD LOGIN  ###
#auth required pam_deny.so
#  end Entrust
auth	required	pam_sepermit.so
auth	include	password-auth
account	required	pam_nologin.so
account	include	password-auth
password	include	password-auth
# pam_selinux.so close should be the first session rule
session	required	pam_selinux.so close
session	required	pam_loginuid.so
# pam_selinux.so open should only be followed by sessions to be executed in the user context
session	required	pam_selinux.so open env_params
session	optional	pam_keyinit.so force revoke
session	include	password-auth

